@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

.box-shadow {
  box-shadow: 0 5px 20px #f0f0f0;
}

.nav-menu {
  display: flex;
  position: fixed;
  left: 13%;
  cursor: pointer;
  color: #30383b;
  height: 10vh;
  width: 59%;
  z-index: 1;
  background-color: white;
}
.nav-menu .logo-container {
  background-image: url(../../img/logo-txt.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  flex-basis: 20%;
  min-width: 50px;
  position: relative;
}
.nav-menu ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
}
.nav-menu ul li {
  display: list-item;
  padding: 5px 10px;
  margin-right: 4vw;
}
.nav-menu ul li .nav-item {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  color: #30383b;
  margin-left: 70%;
  line-height: 7vh;
}

.main-header .header-left-container {
  position: absolute;
  width: 12%;
  min-width: 50px;
  top: 30%;
  z-index: -1;
}
.main-header .header-left-container img {
  width: 100%;
}
.main-header .header-center-container {
  margin: 1vw 0 0 13vw;
  width: 55%;
}
.main-header .header-right-container {
  position: absolute;
  right: -37%;
  top: 0;
  z-index: -1;
  width: 70vw;
}
.main-header .header-right-container img {
  width: 70%;
}
.main-header .main-header {
  margin: 1vw 0 0 13vw;
  width: 50%;
  display: block;
  word-wrap: break-word;
  padding: 10vh 0;
  z-index: 1;
}
.main-header .main-header h5, .main-header .main-header h2 {
  font-family: "Bellota", sans-serif;
}
.main-header .main-header h5 {
  text-transform: uppercase;
}
.main-header .main-header h2 {
  font-size: 50px;
}
.main-header .main-header p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}
.main-header .main-header .header-ending {
  display: flex;
  padding: 20px 0;
}
.main-header .main-header .header-ending .btn {
  background-color: #1ba4ce;
  width: 200px;
  height: 40px;
  padding: 5px 2px;
  color: white;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  font-size: 15px;
  margin-right: 15px;
}
.main-header .main-header .header-ending .story-text {
  font-family: "Roboto", sans-serif;
  margin-left: 5px;
  font-weight: 200;
  color: #30383b;
}

.about {
  width: 55%;
  margin: auto;
  text-align: center;
}
.about img {
  width: 10%;
}
.about h5, .about h2 {
  font-family: "Bellota", sans-serif;
}
.about h5 {
  text-transform: uppercase;
}
.about h2 {
  font-size: 42px;
}
.about .btn-oval {
  display: inline-block;
  background-color: #1ba4ce;
  width: 160px;
  height: 40px;
  padding: 5px 2px;
  color: white;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  font-size: 15px;
  margin: 30px;
  border-radius: 20%/50%;
}

.about-img-container {
  display: flex;
  height: 30vh;
}
.about-img-container .about-img-item {
  cursor: pointer;
  position: relative;
  flex-basis: 25%;
}
.about-img-container .about-img-item .shown {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-img-container .about-img-item .hidden-img-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 123, 255, 0.75);
  margin: 0;
  text-align: center;
  line-height: 200px;
  color: #fff;
  font-weight: 300;
  font-size: 3em;
  opacity: 0;
  transition: all 0.3s;
}
.about-img-container .about-img-item .hidden-img-container .hidden-img {
  position: absolute;
  width: 20%;
  top: 25%;
  left: 42%;
}
.about-img-container .about-img-item .hidden-img-container .hidden-header {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  top: 15.5%;
  left: 15%;
  font-size: 2.5vw;
  font-family: "Bellota", sans-serif;
  font-weight: bold;
  text-align: center;
}
.about-img-container .about-img-item .hidden-img-container:hover {
  opacity: 1;
}

.procedures {
  width: 80%;
  margin: auto;
  text-align: center;
}
.procedures .section-header {
  margin-bottom: 50px;
}
.procedures .section-header h5 {
  font-family: "Bellota", sans-serif;
  font-size: 42px;
  margin: 1.2em;
}
.procedures .img-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.procedures .img-item {
  flex-basis: 25%;
  padding: 15px;
  border-color: rgb(240, 240, 240);
  margin: 10px;
}
.procedures .img-item img {
  width: 100%;
}
.procedures .img-item h7 {
  font-family: "Bellota", sans-serif;
  font-size: 22px;
  display: block;
  margin: 12px;
}
.procedures .img-item .btn-oval {
  display: inline-block;
  background-color: #1ba4ce;
  width: 50%;
  min-width: 80px;
  padding: 5px 2px;
  color: white;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  font-size: 15px;
  margin: 15px;
  border-radius: 20%/50%;
}

.team {
  width: 80%;
  margin: 10% auto;
  text-align: center;
}
.team .section-header {
  margin-bottom: 50px;
}
.team .section-header h5 {
  font-family: "Bellota", sans-serif;
  font-size: 42px;
  margin: 1.2em;
}
.team .img-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.team .img-item2 {
  flex-basis: 27.32%;
  border-color: rgb(240, 240, 240);
  margin: 10px;
  position: relative;
}
.team .img-item2 img {
  width: 100%;
}
.team .img-item2 .footer-expanding {
  width: 80%;
  height: 25%;
  position: absolute;
  bottom: -15%;
  left: 10%;
  background-color: white;
}
.team .img-item2 .footer-expanding h5 {
  font-family: "Bellota", sans-serif;
  font-size: 22px;
  margin: 0;
  padding-top: 10%;
}
.team .img-item2 .footer-expanding p {
  margin: 5px;
}
.team .img-item2 .footer-expanding .sm-container {
  padding: 10px;
  height: 0%;
  background-color: white;
  display: none;
}
.team .img-item2 .footer-expanding .sm-container .fa-brands {
  background: white;
  color: rgb(102, 76, 173);
  border-radius: 50%;
  border-color: gray;
  padding: 10px;
  margin: 3px;
  border-width: 1px;
  border-style: ridge;
  cursor: pointer;
}
.team .img-item2 .footer-expanding .sm-container .fa-brands:hover {
  background-color: green;
  color: white;
}

.form-section {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
}
.form-section .form-img {
  flex-basis: 40%;
}
.form-section .form {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  flex-basis: 60%;
  padding: 5%;
  background-color: #1ba4ce;
  padding: 5% 10% 5% 5%;
}
.form-section .form input {
  background-color: #1ba4ce;
  border-width: 0 0 1px 0;
  border-color: white;
  color: white;
  text-transform: uppercase;
  padding: 4%;
  text-align: left;
  flex-basis: 38%;
  padding-bottom: 10px;
  margin-right: 20px;
  line-height: 3vh;
}
.form-section .form #notes {
  padding-bottom: 8%;
}
.form-section .form ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: white;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.form-section .form select {
  flex-basis: 46%;
  background-color: #1ba4ce;
  border-width: 0 0 1px 0;
  border-color: white;
  color: white;
  text-transform: uppercase;
  padding-left: 3.5%;
  text-align: left;
  padding-bottom: 10px;
  margin-right: 20px;
  height: 8vh;
}
.form-section .form input:focus,
.form-section .form select:focus,
.form-section .form textarea:focus,
.form-section .form button:focus {
  outline: none;
}/*# sourceMappingURL=style.css.map */