@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

body {
  box-sizing: border-box;
}

.img-item {
  padding: 15px;
}

.bordered-img-item {
  padding: 15px;
  border: 1px solid;
  border-color: rgb(240, 240, 240);
  margin: 5px;
}
.bordered-img-item p {
  font-family: "Roboto", sans-serif;
}

section {
  margin: 3vh auto;
  padding: 2vh 0;
  text-align: center;
}

.section-header {
  margin: 50px 0;
}
.section-header h2 {
  font-family: "Bellota", sans-serif;
}
.section-header h2 {
  font-size: 42px;
}
.section-header p {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  color: #30383b;
  width: 70%;
  margin: auto;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.column-3 {
  flex-basis: 25%;
}

.column-4 {
  flex-basis: 29%;
}

.nav-menu {
  display: flex;
  position: fixed;
  padding-left: 9%;
  color: #30383b;
  height: 10vh;
  width: 50%;
  z-index: 1;
  background-color: white;
  margin-top: 12px;
}
.nav-menu .title-logo-container {
  flex-basis: 20%;
}
.nav-menu .title-logo-container img {
  width: 100%;
  max-width: 100px;
  min-width: 55px;
}
.nav-menu .hamburger-container {
  flex-basis: 0%;
}
.nav-menu .hamburger-container .hamburger {
  width: 55px;
  height: 9px;
  background-color: #1ba4ce;
  margin: 8px 0;
  display: none;
}
.nav-menu .menu-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
}
.nav-menu .menu-list li {
  display: list-item;
  margin-right: 2.5vw;
}
.nav-menu .menu-list li .nav-item {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  color: #30383b;
  line-height: 7vh;
}
.nav-menu .menu-list .li-x-sign {
  align-self: flex-end;
}
.nav-menu .menu-list .li-x-sign::before {
  content: "X";
  font-size: 2em;
  color: white;
  padding-right: 5%;
}

.header {
  position: relative;
}
.header .header-left-container {
  position: absolute;
  width: 12%;
  min-width: 50px;
  top: 30%;
  z-index: -1;
}
.header .header-left-container img {
  width: 100%;
}
.header .header-right-container {
  position: absolute;
  right: 0;
  z-index: -1;
}
.header .header-right-container img {
  width: 40vw;
}
.header .main-header {
  margin-left: 9%;
  width: 50%;
  display: block;
  word-wrap: break-word;
  padding-top: 10vh;
  z-index: 1;
}
.header .main-header article {
  margin-top: 15%;
}
.header .main-header h5, .header .main-header h2 {
  font-family: "Bellota", sans-serif;
}
.header .main-header h5 {
  text-transform: uppercase;
}
.header .main-header h2 {
  font-size: 50px;
}
.header .main-header p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}
.header .main-header .header-ending {
  display: flex;
  padding: 20px 0;
  align-items: center;
}
.header .main-header .header-ending .btn {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  font-size: 15px;
  background-color: #1ba4ce;
  padding: 10px 40px;
  margin: 0 15px 0 0;
  color: white;
}
.header .main-header .header-ending .story-text {
  font-family: "Roboto", sans-serif;
  margin-left: 5px;
  font-weight: 200;
  color: #30383b;
}

.about {
  width: 55%;
}
.about .logo-container img {
  width: 10%;
}
.about .logo-container h5 {
  text-transform: uppercase;
  font-weight: 200;
}
.about .btn {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  font-size: 15px;
  background-color: #1ba4ce;
  padding: 10px 40px;
  margin: 30px;
  color: white;
  border-radius: 20%/50%;
}

.feature {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.feature .img-item {
  cursor: pointer;
  position: relative;
  padding: 0;
}
.feature .img-item .shown-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.feature .img-item .hidden-img-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 123, 255, 0.75);
  color: #fff;
  font-weight: 300;
  font-size: 3em;
  opacity: 0;
  transition: all 0.3s;
}
.feature .img-item .hidden-img-container .hidden-img {
  position: absolute;
  width: 20%;
  top: 33%;
  left: 42%;
}
.feature .img-item .hidden-img-container .hidden-header {
  position: absolute;
  margin-top: 5%;
  top: 51.5%;
  left: 15%;
  bottom: 6vw;
  font-size: 2.5vw;
  font-family: "Bellota", sans-serif;
  font-weight: bold;
  text-align: center;
}
.feature .img-item .hidden-img-container:hover {
  opacity: 1;
}

.procedures {
  width: 100%;
  text-align: center;
}
.procedures img {
  width: 100%;
}
.procedures h7 {
  font-family: "Bellota", sans-serif;
  font-size: 22px;
  display: block;
  margin: 12px;
}
.procedures .btn {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  font-size: 15px;
  background-color: #30383b;
  padding: 10px 40px;
  margin: 15px;
  color: white;
  border-radius: 20%/50%;
  min-width: 80px;
}
.procedures .btn:hover {
  background-color: #1ba4ce;
}

.team {
  width: 80%;
}
.team .drop-up-footer {
  position: relative;
  margin-bottom: 100px;
}
.team .drop-up-footer img {
  width: 100%;
}
.team .drop-up-footer .footer-expanding {
  width: 80%;
  height: 25%;
  position: absolute;
  bottom: -20%;
  padding-bottom: 50px;
  left: 10%;
  background-color: white;
  transition: all 0.3s;
}
.team .drop-up-footer .footer-expanding h5 {
  font-family: "Bellota", sans-serif;
  font-size: 22px;
  margin: 0;
  padding-top: 10%;
}
.team .drop-up-footer .footer-expanding p {
  padding: 5px;
  color: #30383b;
  font-weight: 100;
  font-family: "Roboto", sans-serif;
}
.team .drop-up-footer .footer-expanding .sm-container {
  height: 100%;
  background-color: white;
  display: none;
  transition: all 0.3s;
}
.team .drop-up-footer .footer-expanding .sm-container .fa-brands {
  background: white;
  color: rgb(102, 76, 173);
  border-radius: 50%;
  border-color: gray;
  padding: 10px;
  margin: 3px;
  width: 15px;
  height: 15px;
  border-width: 1px;
  border-style: ridge;
  cursor: pointer;
}
.team .drop-up-footer .footer-expanding .sm-container .fa-brands:hover {
  background-color: #1ba4ce;
  color: white;
}
.team .drop-up-footer .footer-expanding:hover > .sm-container {
  display: block;
}
.team .drop-up-footer .footer-expanding:hover {
  bottom: -10%;
  box-shadow: 0 5px 20px #f0f0f0;
}

.form-section {
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
}
.form-section .form-img {
  flex-basis: 40%;
}
.form-section .form-img img {
  height: 100%;
  width: 100%;
  display: block;
}
.form-section .form-container {
  flex-basis: 60%;
  background-color: #1ba4ce;
  overflow: hidden;
}
.form-section .form-container .form {
  padding: 10% 10vw 0% 7%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.form-section .form-container .form .input-common {
  background-color: #1ba4ce;
  border-width: 0 0 1px 0;
  border-color: white;
  color: white;
  text-align: left;
  margin-right: 15px;
  width: 33%;
  font-size: 12px;
  padding: 4px;
  text-transform: uppercase;
  line-height: 33px;
  height: 60px;
}
.form-section .form-container .form #notes {
  padding: 4px;
  width: 69.5%;
}
.form-section .form-container .form ::-webkit-input-placeholder {
  color: white;
  text-transform: uppercase;
  padding-bottom: 15px;
}
.form-section .form-container .form select {
  background-color: #1ba4ce;
  border-width: 0 0 1px 0;
  border-color: white;
  color: white;
  text-align: left;
  margin-right: 15px;
  width: 34.25%;
  font-size: 12px;
  padding: 4px;
  text-transform: uppercase;
  text-transform: uppercase;
}
.form-section .form-container .form .input-common:focus,
.form-section .form-container .form select:focus,
.form-section .form-container .form textarea:focus,
.form-section .form-container .form button:focus {
  outline: none;
}
.form-section .form-container .form .submit {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  font-size: 15px;
  background-color: white;
  padding: 10px 40px;
  margin: 15px;
  color: #30383b;
  font-weight: 400;
  border-radius: 13%/50%;
  border-color: transparent;
  text-transform: uppercase;
}
.form-section .form-container .form .submit:hover {
  color: white;
  background-color: #30383b;
}
.form-section .form-container #errors {
  list-style-type: none;
  text-align: left;
  color: white;
}

.blog {
  width: 80%;
  margin: auto;
  text-align: center;
}
.blog .section-header h2 {
  color: #473452;
}
.blog img {
  width: 100%;
}
.blog h7 {
  font-family: "Bellota", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  display: block;
  margin: 12px;
}
.blog h5 {
  font-family: "Bellota", sans-serif;
  font-size: 22px;
  margin: 1.2em;
  color: #473452;
}
.blog .btn {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  font-size: 15px;
  background-color: #30383b;
  padding: 10px 40px;
  margin: 15px;
  color: white;
  border-radius: 20%/50%;
  min-width: 80px;
}
.blog .btn:hover {
  background-color: #1ba4ce;
}

.contact {
  width: 100%;
  background-color: #1ba4ce;
  color: white;
  text-align: center;
}
.contact .section-header p {
  color: white;
}
.contact .contact-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
.contact .contact-container .icon-container {
  flex-basis: 30%;
}
.contact .contact-container .icon-container .single-icon-container {
  margin-bottom: 4%;
}
.contact .contact-container .icon-container .single-icon-container img, .contact .contact-container .icon-container .single-icon-container p {
  display: inline-block;
}
.contact .contact-container .icon-container .single-icon-container img {
  margin: 0 20px;
  width: 7%;
}
.contact .contact-container .icon-container .single-icon-container #tel-icon {
  width: 5%;
  padding-right: 5%;
}
.contact .contact-container .form-container {
  flex-basis: 40%;
  background-color: #1ba4ce;
}
.contact .contact-container .form-container .contact-form {
  padding: 0% 25% 0% 10%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.contact .contact-container .form-container .contact-form .input-common {
  background-color: #1ba4ce;
  border-width: 0 0 1px 0;
  border-color: white;
  color: white;
  text-align: left;
  margin-right: 15px;
  width: 100%;
  font-size: 0.8em;
  padding: 4px;
  text-transform: uppercase;
  padding: 22px;
  outline: none;
}
.contact .contact-container .form-container .contact-form ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: white;
  text-transform: uppercase;
}
.contact .contact-container .form-container .contact-form input[name=comment], .contact .contact-container .form-container .contact-form #comment {
  background-color: #1ba4ce;
  border-width: 0 0 1px 0;
  border-color: white;
  color: white;
  text-align: left;
  margin-right: 15px;
  width: 100%;
  font-size: 0.8em;
  padding: 4px;
  text-transform: uppercase;
  padding: 22px 22px 50px 22px;
  outline: none;
}
.contact .contact-container .form-container .contact-form .submit {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  font-size: 15px;
  background-color: white;
  padding: 10px 40px;
  margin: 30px;
  color: #30383b;
  font-weight: 400;
  border-radius: 13%/50%;
  border-color: transparent;
}
.contact .contact-container .form-container .contact-form .submit:hover {
  color: white;
  background-color: #30383b;
}

.footer {
  display: block;
}
.footer .nav-menu2 {
  cursor: pointer;
  color: #30383b;
  z-index: 1;
  background-color: white;
}
.footer .nav-menu2 .logo-container {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url(../../img/logo-txt.png);
  width: 7vw;
  height: 7vw;
  margin: auto;
}
.footer .nav-menu2 ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}
.footer .nav-menu2 ul li {
  display: list-item;
  margin-right: 4vw;
}
.footer .nav-menu2 ul li .nav-item {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  color: #30383b;
  line-height: 7vh;
}
.footer .copyright {
  margin: auto;
  text-align: center;
}
.footer .copyright h7 {
  font-family: "Bellota", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  display: inline;
  margin: 12px;
  text-align: center;
}

@media screen and (max-width: 992px) {
  .nav-menu {
    position: -webkit-sticky;
    position: sticky;
    justify-content: space-between;
    width: 80%;
  }
  .nav-menu .title-logo-container img {
    width: 70%;
  }
  .nav-menu .hamburger-container {
    flex-basis: 20%;
  }
  .nav-menu .hamburger-container .hamburger {
    align-self: flex-end;
    margin-left: auto;
    padding-right: 1%;
    display: block;
  }
  .nav-menu .hamburger-container-clicked {
    flex-basis: 40%;
    position: relative;
  }
  .nav-menu .menu-list {
    flex-direction: column;
    position: absolute;
    right: -15%;
    top: -15%;
    justify-content: right;
    padding-right: 10%;
  }
  .nav-menu .menu-list li {
    margin-right: 0;
    width: 45vw;
    display: list-item;
    margin-right: 4vw;
    text-align: right;
    background-color: #1ba4ce;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 7vh;
  }
  .nav-menu .menu-list li .nav-item {
    color: white;
  }
  .nav-menu ul li .nav-item {
    display: none;
    text-align: right;
    color: white;
    background-color: #1ba4ce;
    padding-right: 5%;
  }
  .nav-menu ul .li-x-sign {
    content: "X";
  }
  .header .header-right-container {
    display: none;
  }
  .header .main-header {
    width: 80%;
    padding: 5vh 0;
  }
  .feature .img-item {
    flex-basis: 50%;
  }
  .feature .img-item .hidden-img-container .hidden-header {
    left: 32%;
    top: 21.5%;
  }
  .blog,
.team,
.procedures {
    width: 95%;
  }
  .form-section .form-img {
    display: none;
  }
  .form-section .form-container {
    flex-basis: 100%;
    height: auto;
    padding: 5% 5% 0% 0%;
  }
}/*# sourceMappingURL=style.css.map */