@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

.main-header-container {
<<<<<<< Updated upstream
  position: relative;
=======
>>>>>>> Stashed changes
  height: 85vh;
}
.main-header-container .header-left-container {
  position: absolute;
  width: 12%;
  min-width: 50px;
<<<<<<< Updated upstream
  height: 65vh;
  position: relative;
  min-width: 50px;
}
.main-header-container .header-left-container img {
  width: 100%;
  position: absolute;
  left: -10px;
  top: 47%;
=======
  height: 27vh;
  min-width: 50px;
  left: -10px;
  top: 32%;
  z-index: -1;
}
.main-header-container .header-left-container img {
  width: 100%;
  z-index: 5;
>>>>>>> Stashed changes
}
.main-header-container .menu-container {
  margin-left: 1vw;
  margin-top: 1vw;
  width: 56%;
<<<<<<< Updated upstream
=======
  z-index: 1;
>>>>>>> Stashed changes
}
.main-header-container .menu-container .logo-container {
  background-image: url(../../img/logo-txt.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 10px 0 0 6vw;
  width: 20%;
  height: 8vw;
  display: inline-block;
  min-width: 50px;
}
.main-header-container .menu-container .nav-menu {
  display: inline-block;
  list-style-type: none;
  cursor: pointer;
  position: absolute;
  color: #30383b;
}
.main-header-container .menu-container .nav-menu ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  height: 7vw;
  justify-content: space-between;
  flex-wrap: nowrap;
  font-family: "Roboto", sans-serif;
}
.main-header-container .menu-container .nav-menu ul li {
  margin: 1vw;
}
.main-header-container .menu-container .nav-menu ul li .nav-item {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  list-style-type: none;
  line-height: 7vw;
  color: #30383b;
}
.main-header-container .menu-container .main-header {
<<<<<<< Updated upstream
  width: 56%;
=======
>>>>>>> Stashed changes
  display: block;
  word-wrap: break-word;
  padding: 15vh 0;
  margin-left: 6vw;
}
.main-header-container .menu-container .main-header h5, .main-header-container .menu-container .main-header h2 {
  font-family: "Bellota", sans-serif;
}
.main-header-container .menu-container .main-header h5 {
  text-transform: uppercase;
}
.main-header-container .menu-container .main-header h2 {
  font-size: 50px;
}
.main-header-container .menu-container .main-header p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}
.main-header-container .menu-container .main-header .header-ending {
  display: flex;
  padding: 20px 0;
}
.main-header-container .menu-container .main-header .header-ending .btn {
  background-color: #1ba4ce;
  width: 200px;
  height: 40px;
  padding: 5px 2px;
  color: white;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  font-size: 15px;
  margin-right: 15px;
}
.main-header-container .menu-container .main-header .header-ending .story-text {
  font-family: "Roboto", sans-serif;
  margin-left: 5px;
  font-weight: 200;
  color: #30383b;
}

.soap-img-container {
  width: 56%;
  height: 55vh;
  position: absolute;
  left: 60%;
<<<<<<< Updated upstream
=======
  top: 0;
  z-index: -1;
>>>>>>> Stashed changes
}
.soap-img-container img {
  width: 90%;
}

.about {
  width: 55%;
  margin: auto;
  text-align: center;
}
.about img {
  width: 10%;
}
.about h5, .about h2 {
  font-family: "Bellota", sans-serif;
}
.about h5 {
  text-transform: uppercase;
}
.about h2 {
  font-size: 42px;
}
.about .btn-oval {
  display: inline-block;
  background-color: #1ba4ce;
  width: 160px;
  height: 40px;
  padding: 5px 2px;
  color: white;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  font-size: 15px;
  margin: 30px;
  border-radius: 20%/50%;
}

.about-img-container {
  display: flex;
  height: 30vh;
}
.about-img-container .about-img-item {
  cursor: pointer;
  position: relative;
  flex-basis: 25%;
}
.about-img-container .about-img-item .shown {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about-img-container .about-img-item .hidden-img-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 123, 255, 0.75);
  margin: 0;
  text-align: center;
  line-height: 200px;
  color: #fff;
  font-weight: 300;
  font-size: 3em;
  opacity: 0;
  transition: all 0.3s;
}
.about-img-container .about-img-item .hidden-img-container .hidden-img {
  position: absolute;
  width: 20%;
  top: 25%;
  left: 42%;
}
.about-img-container .about-img-item .hidden-img-container .hidden-header {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
<<<<<<< Updated upstream
  top: 15.5%;
  left: 15%;
  font-size: 2.5vw;
=======
  top: 1vw;
  left: 33%;
  font-size: 1.25vw;
>>>>>>> Stashed changes
  font-family: "Bellota", sans-serif;
  font-weight: bold;
  text-align: center;
}
.about-img-container .about-img-item .hidden-img-container:hover {
  opacity: 1;
}

.team {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
}
.team .img-container {
  flex-basis: 33%;
}/*# sourceMappingURL=style.css.map */