@mixin bg-in-div {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

@mixin btn($color, $bg-color, $padding, $margin) {
    display: inline-block;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    font-size: $small;
    background-color: $bg-color;
    padding: $padding;
    margin: $margin;
    color: $color;
}

@mixin btn-oval {
    border-radius: 20%/50%;
}


@mixin input-basics($width, $font-size) {
    background-color: $blue;
    border-width: 0 0 1px 0;
    border-color: white;
    color: white;
    text-align: left;
    margin-right: 15px;
    width: $width;
    font-size: $font-size;
    padding: 4px;
    text-transform: uppercase;
}

@mixin flex-wrap-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}