body {
    box-sizing: border-box;
}
// Toggle classes

.img-item {
    padding: $small;
}

.bordered-img-item {
    padding: $small;
    border: 1px solid;
    border-color: rgb(240, 240, 240);
    margin: 5px;
    p {
        font-family: $font-primary;
    }
}

// Section styles

section {
    margin: 3vh auto;
    padding: 2vh 0;
    text-align: center;
}


// Header styles

.section-header {
    margin: 50px 0;
    h2 {
        font-family: $font-secondary;
    }
    h2 {
        font-size: $big;
    }
    p {
        font-family: $font-primary;
        font-weight: 100;
        color: $dark-grey;
        width: 70%;
        margin: auto;
    }
}

.grid-container {
    @include flex-wrap-center;
}

.column-3 {
    flex-basis: 25%;
    }

.column-4 {
    flex-basis: 29%;
}


.nav-menu {
        display: flex;
        position: fixed;
        padding-left: 9%;
        color: $dark-grey;
        height: 10vh;
        width: 50%;
        z-index: 1;
        background-color: white;
        margin-top: $smallest;
    .title-logo-container {
        flex-basis: 20%;
        img {
            width: 100%;
            max-width: 100px;
            min-width: 55px;
        }
    } 
    .hamburger-container {
        flex-basis: 0%;
        .hamburger {
            width: 55px;
            height: 9px;
            background-color: $blue;
            margin: 8px 0;
            display: none;
            // label[for="drop-nav"] {
            //     display: none;
            // }
        }
    }
    .menu-list {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        font-family: $font-primary;
        li {
            display: list-item;
            padding: 1.5vw;
            .nav-item {
                text-decoration: none;
                text-transform: uppercase;
                font-size: $small;
                color: $dark-grey;
                line-height: 3vh;
                }
            }
        .li-x-sign {
            align-self: flex-end;
        }
        .li-x-sign::before {
            content: "X";
            font-size: 2em; 
            color: white;
            padding-right: 5%;
        }
    }
}

.header {
    position: relative;
    .header-left-container {
        position: absolute;
        width: 12%;
        min-width: 50px;
        top: 30%;
        z-index: -1;
        img {
            width: 100%;
        }
    }
    .header-right-container {
        position: absolute;
        right: 0;
        z-index: -1;
        // width: 25%;
        img {
            width: 40vw;
        }
    }
    .main-header {
        margin-left: 9%;
        width: 50%;
        display: block;
        word-wrap: break-word;
        padding-top: 10vh;
        z-index: 1;
            article {
                margin-top: 15%;
            }
            h5, h2 {
                font-family: $font-secondary;
            }
            h5 {
                text-transform: uppercase;
            }
            h2 {
                font-size: 50px;
            }
            p {
                font-family: $font-primary;
                font-size: $small;
            }
            .header-ending {
                display: flex;
                padding: 20px 0;
                align-items: center;
                .btn {
                    @include btn(white, $blue, 10px 40px, 0 15px 0 0);
                }
                .story-text {
                font-family: $font-primary;
                margin-left: 5px;
                font-weight: 200;
                color: $dark-grey;
                }
            }
    }
}

.about {
    width: 55%;
    // text-align: center;
    .logo-container {
        img {
            width: 10%;
        }
        h5 {
            text-transform: uppercase;
            font-weight: 200;
        }
    }

    .btn {
        @include btn(white, $blue, 10px 40px, 30px);
        @include btn-oval;
        }
}

.feature {
    @include flex-wrap-center;
    .img-item {
        cursor: pointer;
        position: relative;
        padding: 0;
        .shown-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .hidden-img-container {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            background-color: rgba(0, 123, 255, 0.75);
            color: #fff;
            font-weight: 300;
            font-size: 3em;
            opacity: 0;
            transition: all .3s;
            .hidden-img {
                position: absolute;
                width: 20%;
                top: 33%;
                left: 42%;
            }
            .hidden-header {
                position: absolute;
                margin-top: 5%;
                top: 51.5%;
                left: 15%;
                bottom: 6vw;
                font-size: 2.5vw;
                font-family: $font-secondary;
                font-weight: bold;
                text-align: center;
            }
        }
        .hidden-img-container:hover {
            opacity: 1;
        }
    }
}

.procedures {
    width: 100%;
    text-align: center;

        img {
            width: 100%;
        }
        h7 {
            font-family: $font-secondary;
            font-size: $medium;
            display: block;
            margin: 12px;
        }
        .btn {
            @include btn(white, $dark-grey, 10px 40px, 15px);
            @include btn-oval;
            min-width: 80px;
        }
        .btn:hover {
            background-color: $blue;
        }
}
.team {
    width: 80%;
    .drop-up-footer {
        position: relative;
        margin-bottom: 100px;
        img {
            width: 100%;
        }
        .footer-expanding {
            width: 80%;
            height: 25%;
            position: absolute;
            bottom: -20%;
            padding-bottom: 50px;
            left: 10%;
            background-color: white;
            transition: all 0.3s;
            h5 {
                font-family: $font-secondary;
                font-size: $medium;
                margin: 0;
                padding-top: 10%;
            }
            p {
                padding: 5px;
                color: $dark-grey;
                font-weight: 100;
                font-family: $font-primary;
            }
            .sm-container {
                height: 100%;
                background-color: white;
                display: none;
                transition: all 0.3s;
                .fa-brands {
                    background: white;
                    color: rgb(102, 76, 173);
                    border-radius: 50%;
                    border-color: gray;
                    padding: 10px;
                    margin: 3px;
                    width: 15px;
                    height: 15px;
                    border-width: 1px;
                    border-style: ridge;
                    cursor: pointer;
                }
                .fa-brands:hover {
                    background-color: $blue;
                    color: white;
                }
            }
        }
        .footer-expanding:hover > .sm-container {
            display: block;
        }
        .footer-expanding:hover {
            bottom: -10%;
            box-shadow: $box-shadow;
        }
    }
}

.form-section {
    display: flex;
    width: 100%;
    justify-content: center;
    overflow: hidden;
    font-family: $font-primary;
    .form-img {
        flex-basis: 40%;
        img {
            height: 100%;
            width: 100%;
            display: block;
        }
    }
    .form-container {
        flex-basis: 60%;
        background-color: $blue;
        overflow: hidden;
        .form {
            padding: 10% 10vw 0% 7%;
            overflow: hidden;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            .input-common {
                @include input-basics(33%, $smallest);
                line-height: 33px;
                height: 60px;
            }
            #notes {
                padding: 4px;
                width: 69.5%;
            }
            ::-webkit-input-placeholder {
                color: white;
                text-transform: uppercase;
                padding-bottom: 15px;
            }
            select {
                @include input-basics(34.25%, $smallest);
                text-transform: uppercase;
            }
    
            .input-common:focus,
            select:focus,
            textarea:focus,
            button:focus {
                outline: none;
            }
            .submit {
                @include btn($dark-grey, white, 10px 40px, 15px);
                font-weight: 400;
                border-radius: 13%/50%;
                border-color: transparent;
                text-transform: uppercase;
            }   
            .submit:hover {
                color: white;
                background-color: $dark-grey
            }   
        }
        #errors {
            list-style-type: none;
            text-align: left;
            color: white;
        }       
    }
}

.blog {
    width: 80%;
    margin: auto;
    text-align: center;
    .section-header {
        h2 {
            color: $violet;
        }
    }
        img {
            width: 100%;
        }
        h7 {
            font-family: $font-secondary;
            text-transform: uppercase;
            font-size: $smallest;
            display: block;
            margin: $smallest;
        }
        h5 {
            font-family: $font-secondary;
            font-size: $medium;
            margin: 1.2em;
            color: $violet;
        }
        .btn {
            @include btn(white, $dark-grey, 10px 40px, 15px);
            @include btn-oval;
            min-width: 80px;
        }
        .btn:hover {
            background-color: $blue;
        }
 }

.contact {
    width: 100%;
    background-color: $blue;
    color: white;
    text-align: center;
    .section-header {
        p {
            color: white;
        }
    }
    .contact-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        .icon-container {
            flex-basis: 30%;
            .single-icon-container {
                margin-bottom: 4%;
                img, p {
                    display: inline-block;
                }
                img {
                    margin: 0 20px;
                    width: 7%;
                }
                #tel-icon {
                    width: 5%;
                    padding-right: 5%;
                }
            }   
        }
        .form-container {
            flex-basis: 40%;
            background-color: $blue;
            .contact-form {
                padding: 0% 25% 0% 10%;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: flex-start;
                .input-common {
                    @include input-basics(100%, 0.8em);  
                    padding: $medium;
                    outline: none;
                }
                ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
                    color: white;
                    text-transform: uppercase;
                    // padding-bottom: 10px;
                }
                input[name=comment], #comment {
                    @include input-basics(100%, 0.8em);
                    padding: 22px 22px 50px 22px;
                    outline: none;
                }
                .submit {
                    @include btn($dark-grey, white, 10px 40px, 30px);
                    font-weight: 400;
                    border-radius: 13%/50%;
                    border-color: transparent;
                }
                .submit:hover {
                    color: white;
                    background-color: $dark-grey
                }   
            }
        }   
    }
}

.footer {
    display: block;
    .nav-menu2 {
        cursor: pointer; 
        color: $dark-grey;
        z-index: 1;
        background-color: white;
    .logo-container {
        @include bg-in-div;
        background-image: url(../../img/logo-txt.png);
        width: 7vw;
        height: 7vw;
        margin: auto;
    } 
    ul {
        list-style-type: none;
        display: flex;
        justify-content: center;
        font-family: $font-primary;
        li {
            display: list-item;
            margin-right: 4vw;
            .nav-item {
                text-decoration: none;
                text-transform: uppercase;
                font-size: $small;
                color: $dark-grey;
                line-height: 7vh;
                }
            }
        }
    }
    .copyright {
        margin: auto;
        text-align: center;
        h7 {
        font-family: $font-secondary;
        text-transform: uppercase;
        // font-family: $font-secondary;
        font-size: $smallest;
        display: inline;
        margin: $smallest;
        text-align: center;
        }
    }
}

@media screen and (max-width: 992px) {
    .nav-menu {
        position: sticky;
        justify-content: space-between;
        width: 85%;
        .title-logo-container {
            img {
                width: 70%;
            }
        }
        .hamburger-container {
            flex-basis: 20%;
            .hamburger {
                align-self: flex-end;
                margin-left: auto;
                padding-right: 1%;
                display: block;
            }
        }
        .hamburger-container-clicked {
            flex-basis: 40%;
            position: relative;
        }
        .menu-list {
            display: none;
            flex-direction: column;
            position: absolute;
            right: -15%;
            top: -20%;
            justify-content: right;
            padding-right: 10%;
            li {
                padding: 1vw;
                width: 60vw;
                display: list-item;
                margin-right: 4vw;
                text-align: right;
                background-color: $blue;
                text-decoration: none;
                text-transform: uppercase;
                font-size: $small;
                line-height: 7vh;
                .nav-item {
                    color: white;
                    text-align: right;
                    color: white;
                    background-color: #1ba4ce;
                    padding-right: 5%;
                }
            }
            .li-x-sign {
                content: "X";
                cursor: pointer;
            }   
        }
    }
    .header {
        .header-right-container {
            display: none;
        }
        .main-header {
            width: 80%;
            padding: 5vh 0;
        }
    }
    
    .feature {
        .img-item {
        flex-basis: 50%;
            .hidden-img-container {
                .hidden-header {
                left: 32%;
                }   
            }
        }   
    }

    .blog,
    .team,
    .procedures {
        width: 95%;
    }
    
    .form-section { 
        .form-img {
        display: none;
        }
        .form-container {
        flex-basis: 100%;
            .form {
                padding: 5%;
                justify-content: center;
            }
        }
    }
}

@media screen and (max-width: 400px) {
    section {
        padding: 1px;
    }
    
    .column-3,
    .column-4 {
    flex-basis: 100%;
    }
    .header {
        .main-header {
            padding: 0;
        }
    }

    .about {
    width: 95%;    
    }

    .feature {
        .img-item {
        flex-basis: 100%;
        height: 25vh;
        display: flex;
        padding: 5px 0;
        .shown-img {
            height: none;
        }
            .hidden-img-container {
                .hidden-header {
                font-size: 4.5vw;
                }
            }
        }
    }
    .form-section {
        .form-container {
            .form {
                .input-common,
                select,
                #notes
                 {
                    width: 100%;
                    padding: $smallest;
                    font-size: 32px;
                }
            }
            #errors {
                text-align: center;
            }
        }  
    }
    .contact {
        .contact-container {
            .icon-container,
            .form-container {
                flex-basis: 100%;
                .contact-form {
                    padding: 0;
                }
                    
            }
        }
    }
}

