// Toggle classes

.li-shown {
    align-self: flex-end;
}

.box-shadow {
    box-shadow: 0 5px 20px #f0f0f0;
}

// Header styles

.section-header {
    h2 {
        font-family: $font-secondary;
    }
    h2 {
        font-size: $big;
    }
    p {
        font-family: $font-primary;
    }
}

.nav-menu {
        display: flex;
        position: fixed;
        padding-left: 9%;
        color: $dark-grey;
        height: 10vh;
        width: 55%;
        z-index: 1;
        background-color: white;
    .title-logo-container {
        @include img-in-div;
        background-image: url(../../img/logo-txt.png);
        flex-basis: 20%;
        min-width: 50px;
        position: relative;
    } 
    .menu-list {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        font-family: $font-primary;
        .hamburger {
            width: 55px;
            height: 9px;
            background-color: $blue;
            margin: 8px 0;
            display: none;
            label[for="drop-nav"] {
                display: none;
            }
          }
        li {
            display: list-item;
            margin-right: 4vw;
            .nav-item {
                text-decoration: none;
                text-transform: uppercase;
                font-size: 15px;
                color: $dark-grey;
                line-height: 7vh;
                }
            }
        }
}

.header {
    .header-left-container {
        position: absolute;
        width: 12%;
        min-width: 50px;
        top: 30%;
        z-index: -1;
        img {
            width: 100%;
        }
    }
    .header-right-container {
        position: absolute;
        right: 0;
        z-index: -1;
        // width: 25%;
        img {
            width: 40vw;
        }
    }
    .main-header {
        margin: 1% 0 0 9%;
        width: 50%;
        display: block;
        word-wrap: break-word;
        padding: 10vh 0;
        z-index: 1;
            h5, h2 {
            font-family: $font-secondary;
            }
            h5 {
            text-transform: uppercase;
            }
            h2 {
            font-size: 50px;
            }
            p {
            font-family: $font-primary;
            font-size: $small;
            }
            .header-ending {
            display: flex;
            padding: 20px 0;
            .btn {
            @include btn($blue, 200px, 40px, 0 15px 0 0);
            }
            .story-text {
            font-family: $font-primary;
            margin-left: 5px;
            font-weight: 200;
            color: $dark-grey;
            }
        }
    }
}

.about {
    width: 55%;
    margin: 5vh auto;
    text-align: center;
    .logo-container {
        img {
            width: 10%;
        }
        h5 {
            text-transform: uppercase;
            font-weight: 200;
        }
    }

    .btn-oval {
        @include btn($blue, 160px, 40px, 30px);
        @include oval;
        }
    }

.feature {
    display: flex;
    flex-wrap: wrap;
    // height: 30vh;
    .img-item {
        cursor: pointer;
        position: relative;
        flex-basis: 25%;
        .shown {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .hidden-img-container {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            // left: 0;
            background-color: rgba(0, 123, 255, 0.75);
            // margin: 0;
            text-align: center;
            line-height: 200px;
            color: #fff;
            font-weight: 300;
            font-size: 3em;
            opacity: 0;
            transition: all .3s;
            .hidden-img {
                position: absolute;
                width: 20%;
                top: 25%;
                left: 42%;
            }
            .hidden-header {
                position: absolute;
                // margin-left: auto;
                // margin-right: auto;
                margin-top: 5%;
                top: 15.5%;
                left: 15%;
                font-size: 2.5vw;
                font-family: $font-secondary;
                font-weight: bold;
                text-align: center;
            }
        }
        .hidden-img-container:hover {
            opacity: 1;
        }
    }
}

.procedures {
    width: 80%;
    margin: auto;
    text-align: center;
    // .section-header {
    //     margin-bottom: 50px;
        // h2 {
        //     // font-family: $font-secondary;
        //     // font-size: 42px;
        //     margin: 1.2em;
        // }
    }
    .grid-container {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        .img-item {
            flex-basis: 28%;
            padding: 15px;
            border: 1px groove;
            // box-shadow: 0 5px 20px #f0f0f0;
            border-color: rgb(240, 240, 240);
            margin: 10px;
        }
        img {
            width: 100%;
        }
        h7 {
            font-family: $font-secondary;
            font-size: $medium;
            display: block;
            margin: 12px;
        }
        .btn-oval {
            @include btn($blue, 50%, 40px, 15px);
            // display: inline-block;
            // background-color: #1ba4ce;
            // width: 50%;
            min-width: 80px;
            // padding: 5px 2px;
            // color: white;
            // text-decoration: none;
            // text-align: center;
            // line-height: 40px;
            // font-size: 15px;
            // margin: 15px;
            @include oval;
            }
    }

.team {
    width: 80%;
    margin: 0 auto 10% auto;
    text-align: center;
    .section-header {
        margin-bottom: 50px;
        h5 {
            font-family: $font-secondary;
            font-size: 42px;
            margin: 1.2em;
        }
    }
    .img-container {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }
    .img-item2 {
        flex-basis: 27.32%;
        // padding: 15px;
        // border: 1px groove;
        // box-shadow: 1px 1px 1px -1px #888888;
        border-color: rgb(240, 240, 240);
        margin: 10px;
        position: relative;
        // padding: 15px;
        img {
            width: 100%;
        }
        .footer-expanding {
            width: 80%;
            height: 25%;
            position: absolute;
            bottom: -15%;
            left: 10%;
            background-color: white;
            h5 {
                font-family: $font-secondary;
                font-size: 22px;
                margin: 0;
                padding-top: 10%;
            }
            p {
                margin: 5px;
            }
            .sm-container {
                padding: 10px;
                height: 0%;
                background-color: white;
                display: none;
                .fa-brands {
                    background: white;
                    color: rgb(102, 76, 173);
                    border-radius: 50%;
                    border-color: gray;
                    padding: 10px;
                    margin: 3px;
                    border-width: 1px;
                    border-style: ridge;
                    cursor: pointer;
                }
                .fa-brands:hover {
                    background-color: $violet;
                    color: white;
                }
            }
        }
    }
}

.form-section {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    overflow: hidden;
    .form-img {
        // flex-basis: 40%;
        img {
            width: 100%;
            height: 45vw;
        }
    }
    .form-container {
        display: flex;
        flex-wrap: wrap;
        // align-items: baseline;
        flex-basis: 60%;
        background-color: $blue;
        overflow: hidden;
        height: 45vw;
        .form {
            padding: 5% 15% 0% 10%;
            overflow: hidden;
            .input-common {
                @include input-basics(30%, 0.8em);
                padding: $input-padding;
                line-height: 3.5vw;
            }
            #notes {
                padding: $input-padding;
                width: 72%;
            }
            ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
                color: white;
                text-transform: uppercase;
                padding-bottom: 15px;
            }
            select {
                @include input-basics(38%, 0.8em);
                text-transform: uppercase;
                height: 20.5%;
                padding-left: 1vw;
            }
    
            .input-common:focus,
            select:focus,
            textarea:focus,
            button:focus {
                outline: none;
            }
            .btn-submit {
                @include btn(white, 200px, 50px, 15px 20px);
                color: black;
                font-weight: 400;
                border-radius: 13%/50%;
                border-color: transparent;
                text-transform: uppercase;
            }   
        }       
    }
}

.blog {
    width: 80%;
    margin: auto;
    text-align: center;
    .section-header {
        margin-bottom: 50px;
        h5 {
            font-family: $font-secondary;
            font-size: 42px;
            margin: 1.2em;
        }
    }
    .grid-container {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }
    .img-item {
        flex-basis: 25%;
        padding: 15px;
        // border: 1px groove;
        // box-shadow: 0 5px 20px #f0f0f0;
        border-color: rgb(240, 240, 240);
        margin: 10px;
        img {
            width: 100%;
        }
        h7 {
            font-family: $font-secondary;
            text-transform: uppercase;
            // font-family: $font-secondary;
            font-size: $small;
            display: block;
            margin: 12px;
        }
        h5 {
            font-family: $font-secondary;
            font-size: 22px;
            margin: 1.2em;
        }
        .btn-oval {
            display: inline-block;
            background-color: black;
            width: 50%;
            min-width: 80px;
            padding: 5px 2px;
            color: white;
            text-decoration: none;
            text-align: center;
            line-height: 40px;
            font-size: 15px;
            margin: 15px;
            border-radius: 20%/50%;
            }
        .btn-oval:hover {
            background-color: #1ba4ce;
        }
    }
}

.contact {
    width: 100%;
    background-color: #1ba4ce;
    color: white;
    margin: 100px auto;
    text-align: center;
    .section-header {
        margin-bottom: 50px;
        h5 {
            font-family: $font-secondary;
            font-size: 42px;
            padding-top: 50px;
            width: 50%;
            margin: 1.2em auto;
        }
    }
    .contact-container {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        .icon-container {
            flex-basis: 30%;
            .single-icon-container {
                margin-bottom: 4%;
            
                img, p {
                    display: inline-block;
                }
                img {
                    margin: 0 20px;
                    width: 7%;
                }
                #tel-icon {
                    width: 5%;
                    padding-right: 5%;
                }
            }   
        }
        .form-container {
            flex-basis: 40%;
            display: flex;
            flex-wrap: wrap;
            // align-items: baseline;
            background-color: #1ba4ce;
            overflow: hidden;
            .contact-form {
                padding: 0% 25% 0% 10%;
                overflow: hidden;
                .input-common {
                    background-color: #1ba4ce;
                    border-width: 0 0 1px 0;
                    border-color: white;
                    color: white;
                    text-transform: uppercase;
                    padding: 1%;
                    text-align: left;
                    margin-bottom: 15px;
                    line-height: 2.5vw;
                    width: 100%;
                    font-size: 0.8em;
                    overflow: hidden;
                    outline: none;
                }
                ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
                    color: white;
                    text-transform: uppercase;
                    padding-bottom: 10px;
                }
                input[name=comment], #comment {
                    background-color: #1ba4ce;
                    border-width: 0 0 1px 0;
                    border-color: white;
                    color: white;
                    text-transform: uppercase;
                    padding: 1% 1% 10% 1%;
                    text-align: left;
                    line-height: 2.5vw;
                    width: 100%;
                    font-size: 0.8em;
                    overflow: hidden;
                    outline: none;
                }
                .btn-submit {
                    display: inherit;
                    background-color: white;
                    @include btn(white, 200px, 50px, 30px);
                    color: black;
                    font-weight: 400;
                    border-radius: 13%/50%;
                    border-color: transparent;
                }   
            }
        }   
    }
}

.footer {
    display: block;
    .nav-menu2 {
        // display: flex;
        // padding-left: 9%;
        cursor: pointer; 
        color: $dark-grey;
        // width: 55%;
        z-index: 1;
        background-color: white;
    .logo-container {
        @include img-in-div;
        background-image: url(../../img/logo-txt.png);
        width: 7vw;
        height: 7vw;
        margin: auto;
    } 
    ul {
        list-style-type: none;
        display: flex;
        justify-content: center;
        font-family: $font-primary;
        li {
            display: list-item;
            margin-right: 4vw;
            .nav-item {
                text-decoration: none;
                text-transform: uppercase;
                font-size: $small;
                color: $dark-grey;
                line-height: 7vh;
                }
            }
        }
    }
    .copyright {
        margin: auto;
        text-align: center;
        h7 {
        font-family: $font-secondary;
        text-transform: uppercase;
        // font-family: $font-secondary;
        font-size: $smallest;
        display: inline;
        margin: $smallest;
        text-align: center;
        }
    }
}

@media screen and (max-width: 992px) {
    .nav-menu {
        position: sticky;
        .menu-list {
        flex-direction: column;
        position: absolute;
        right: -60%;
        justify-content: right;
        padding-right: 10%;
        .hamburger {
            align-self: flex-end;
            margin-left: auto;
            padding-right: 1%;
        }
        }
    }
    .li-shown::before {
        content: "X";
        font-size: 2em; 
        color: white;
    }

    .nav-menu .menu-list li,
    .nav-menu .menu-list li .shown {
        margin-right: 0;
        width: 45vw;
        display: list-item;
        margin-right: 4vw;
        text-align: right;
        background-color: $blue;
        padding-right: 5%;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 15px;
        line-height: 7vh;
        .nav-item {
            color: white;
        }
    } 
    
    .nav-menu ul li .nav-item {
        display: none;
        text-align: right;
        color: white;
        background-color: #1ba4ce;
        padding-right: 5%;
    }

    .nav-menu ul .li-shown {
        content: "X";
        padding-right: 10%;
        margin-right: 3.3%;
        width: 42.5vw;
    }

    .nav-menu .menu-list .hamburger {
        display: block;
        
    }
    .header .header-right-container {
        display: none;
    }

    .header .main-header {
        width: 80%;
    }

    .feature .img-item {
        flex-basis: 50%;
        .hidden-img-container .hidden-header {
        left: 32%;
        top: 21.5%;
        }    
    }

    .blog,
    .team,
    .procedures {
        width: 95%;
    }

    .form-section { 
        .form-img {
        display: none;
        }
        .form-container {
        flex-basis: 100%;
        height: auto;
        padding: 5% 5% 0% 0%;
        }
    }
}

@media screen and (max-width: 768px) {

}